* {
    text-align: center;
}

body {
    color: lavenderblush; 
    background-color: tan;    
    font-family: Arial, Helvetica, sans-serif; 
}

h1 {
    color: white;  
    background-color: seagreen;
    padding: 15px; 
    margin: 20px 0px 10px; 
}

h2 {
    color: seagreen; 
}

table, thead, th, tr, td {
    border: 1px solid tan; 
    border-collapse: collapse;
}

th, td {
    padding: 5px; 
}

th {
    background-color: seagreen;
}

td {
    background-color: lavenderblush;
    color: mediumseagreen; 
}

.centre {
    margin-left: auto;
    margin: auto; 
}

.code {
    font-family: Courier, monospace;
    color: black; 
    background-color: gainsboro;
}

.title {
    border-bottom: 3px solid currentColor; 
    padding-bottom: 2px; 
}